{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Login{% endblock %}

{% block body %}
<div align="center">
    <h1>Login</h1>
    {% if failed %}
        <div class="errors">
            Incorrect username or password.
        </div>
    {% endif %}
    <form id="login" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <br><input type="submit" value="Login">
    </form>
</div>
{% endblock %}
