{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Register{% endblock %}

{% block body %}
<div align="center">
    <h1>Register</h1>
    {% if already_exists %}
        <div class="errors">
            User already exists.
        </div>
    {% endif %}
    <form id="register" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ render_field(form.email) }}
        <br><input type="submit" value="Register">
    </form>
</div>
{% endblock %}
